[2016-01-12 11:31] andywenk opened #1 "Small issue in README"
Hi there,

just wanna mention a small issue in the README. This

    git checkout something-tracker

does not work, because there is no such branch.

Cheers

Andy

[2016-01-12 11:39] gr2m commented on #1
ooops thanks, will fix right away

[2016-01-12 11:40] #1 closed

[2016-01-12 12:24] andywenk opened #2 "Register does not work"
Hey there,

first of all thanks for this nice little example app. When clicking on "Register" button on top, I get this JS dialog:

<img width="985" alt="screen shot 2016-01-12 at 13 17 32" src="https://cloud.githubusercontent.com/assets/51517/12263409/1ae821b6-b92f-11e5-814e-de4b04d5e442.png">

I expected to receive a registration form or sth ...

Not sure if it is related, but I did not setup th

[2016-01-12 13:20] gr2m commented on #2
Hey Andy, the idea is you unter the username & password in the text fields, then click on either Login or Register, depending on what you want to do.

I agree it’s not very clear, we gotta improve that :)

[2016-01-12 13:21] gr2m commented on #2
Does it work when you enter a username & password?

[2016-01-12 13:28] andywenk commented on #2
oh ... I see - well that is really unclear. I think most people expect a new page or layer or sth. A form with double functionality will most likely be misunderstood ;-)

Yes it does work when I enter a username and a password. So maybe you flag this ticket with "improvement" ;-)

[2016-01-12 13:44] gr2m commented on #2
I’ll make a follow up issue later, thanks Andy :)

[2016-01-18 12:49] gr2m opened #4 "[UI] Make it more clear how to sign up for a new account"
follow up for https://github.com/hoodiehq/hoodie-app-something-tracker/issues/2

[2016-01-18 12:49] gr2m commented on #2
closing in favor of #4

[2016-01-18 12:49] #2 closed

[2016-02-16 23:16] gr2m commented on #4
done by @jsimplicio via 8c4e726 :+1:

[2016-02-16 23:16] #4 closed

[2016-02-16 23:41] gr2m opened #8 "Improve UX for new Hoodie users"
The "Something Tracker" will be the first people will experience when they give Hoodie a try. So that experience is very important to us.

### Current state

We didn’t put too much thought into the user experience, we only needed something to test the new Hoodie.

![something-tracker](https://cloud.githubusercontent.com/assets/39992/13094743/c435246e-d4da-11e5-8b14-249f3b50c63d.png)

### Goal

"So

[2016-02-16 23:47] gr2m commented on #8
One idea I had was an "about" page, where we explain what this app is and why it is like it is, what Hoodie is, and link places like the Hoodie chat for questions, or the [Hoodie Contributors landing page](https://github.com/hoodiehq/discussion/issues/90)

[2016-02-18 09:29] nickcolley opened #11 "CSS Utility classes"
I'm wondering if we could refactor some of the code to avoid utility classes, or give them longer more meaningful names.

At the moment we have the equivalent of single letter variable names that requires you to read the source code to understand what's going on, could be confusing to new people to the codebase.

I can put together a PR if this is something that we want to do.

cc @jsimplicio

[2016-02-18 14:45] gr2m commented on #11
@nickcolley yes I agree. But there are still a few features left, so I’d finish that first with @jsimplicio, and then we do a clean up of the code, would that be ok with you?

[2016-02-18 14:57] nickcolley commented on #11
Yeah, that sense, :+1:

[2016-02-19 01:11] jsimplicio commented on #11
Yep we can change some things, I made utility classes for some reason now there are quite a lot. :sweat_smile:

[2016-02-25 21:49] gr2m opened #15 "Disable username / password change forms and link to issues"
This three for username change:
- [ ] https://github.com/hoodiehq/hoodie-server-account/issues/79
- [ ] https://github.com/hoodiehq/hoodie-client-account/issues/75
- [ ] https://github.com/hoodiehq/hoodie-server-account/issues/80

These two for password change
- [ ] https://github.com/hoodiehq/hoodie-client-account/issues/75
- [ ] https://github.com/hoodiehq/hoodie-server-account/issues/80

[2016-02-27 18:32] jsimplicio commented on #11
Should we close this?

[2016-02-27 18:32] gr2m commented on #11
yes, thanks :)

[2016-02-27 18:32] #11 closed

[2016-02-27 18:49] jsimplicio opened #17 "Upon logging in, app should take you to the tracker"
Currently when you login or sign up you are taken to the account settings. Makes more sense that when you login for first time you see the tracker first.

[2016-02-27 18:50] jsimplicio opened #18 "Number input currently cuts off numbers"
On latest Safari browser:
![screen shot 2016-02-27 at 12 47 33 pm](https://cloud.githubusercontent.com/assets/7318958/13374652/93eddfa2-dd50-11e5-9f7f-1d903e378097.png)

[2016-02-27 18:54] jsimplicio opened #19 "My items are disappearing after I log out and log back in"
I just made a test account, added some items to the tracker and logged out. When I logged back in the items were gone without me ever clearing or deleting them. I try adding more things and logging back out and in again, and the same thing happened.

[2016-02-27 20:09] Charlotteis opened #20 "Visual & Accessibility Improvements"
Hey Hey! I took a look.

Usability wise: great, simple, nice.
Noticed a few bugs visually (Chrome):

<img width="518" alt="stracker-mobile-bugs" src="https://cloud.githubusercontent.com/assets/542140/13374989/353c395e-dd8c-11e5-9e64-f4b51a782b59.png">

1. On Mobile devices, the links would look better aligned left
1. The text in the 'amount' input box gets cut off a lot. Mobile & Desktop. Issue #1

[2016-02-27 20:11] Charlotteis commented on #20
I used khan.github.io/tota11y/ to find the accessibility bugs, btw.

[2016-02-27 20:41] gr2m commented on #20
wow awesome review, thanks @Charlotteis :+1:

[2016-02-28 03:19] nickcolley commented on #18
Guessing if we just remove https://github.com/hoodiehq/hoodie-app-tracker/blob/master/www/assets/app.css#L48 this'll be sorted.

[2016-02-28 16:43] stehuebn commented on #19
I've noticed a similar behaviour on every page reload testing the new app tracker on IE11 (Win8). The items list was empty but in DOM the tr tags exist. It wasn't necessary to log out/in. But after resizing the IE window for checking the responsive media css conditions the stored items suddenly appeared. Strange!

[2016-02-29 18:17] jsimplicio commented on #19
@stehuebn You mean in the DOM there is a `<tr>` which has things in it but it shows as an empty table?

[2016-03-01 02:01] gr2m opened #22 "If /hoodie/client.js cannot be loaded or JS is disabled, show helpful message"
right now we have this

![screen shot 2016-02-29 at 7 41 08 pm](https://cloud.githubusercontent.com/assets/39992/13415292/992480ba-df27-11e5-98e3-4f5a1f9584ec.png)

[2016-03-01 18:37] jsimplicio commented on #20
@Charlotteis for the header, instead of top aligned, is middle aligned cool too? Like I fixed it this way, they're exactly middle of `<header>`
![screen shot 2016-03-01 at 12 38 51 pm](https://cloud.githubusercontent.com/assets/7318958/13437542/5f8c52c8-dfaa-11e5-9707-a2c6f76bdfac.png)

[2016-03-01 18:46] jsimplicio commented on #20
@Charlotteis Can you expand upon `aria-hidden`. Do we need to add that as `true` for elements that are still on the DOM but visibly hidden?

[2016-03-01 18:50] jsimplicio commented on #19
@gr2m wanna take a look at this? To replicate issue, make a new account, add items log out and log back in, items will be gone.

[2016-03-01 18:54] jsimplicio commented on #22
Cool, how about we have a message for users with JS turned off? I don't know how to do this in code so I need help. Same thing for `client.js` failing to load. Which we fixed with `npm install`

[2016-03-01 19:03] gr2m commented on #22
That won’t happen anymore, it was do due to https://github.com/hoodiehq/discussion/issues/89

The reason why screen is blank is because we hide everything until we set the `data-account-state` property: https://github.com/hoodiehq/hoodie-app-tracker/blob/master/www/assets/app.css#L81

This was to avoid flicker, because if user is signed in, then the app was shown for a short time as signed out, un

[2016-03-01 19:03] gr2m commented on #19
will do

[2016-03-02 17:56] jsimplicio commented on #18
@nickcolley Thanks! This should be fixed now inside of the current PR.

[2016-03-02 17:56] #18 closed

[2016-03-02 17:56] jsimplicio commented on #22
Sounds good.

[2016-03-02 20:22] stehuebn commented on #19
@jsimplicio Yes! I just checked the DOM using the IE developer tools. I found some `<tr>` tags in the `<tbody class="list"....>` area but I couldn't see the items on screen.

Somehow the IE11 has problems to interprete the css expression correctly:
`
[data-store-state='empty'] .items,
[data-store-state='not-empty'] .items {
  display: block;
}
`
Sorry for my late reply!

[2016-03-03 23:33] jsimplicio commented on #19
@stehuebn This is very weird and I can't really test it because I'm on a mac. I wonder why IE 11 is having trouble interpreting that... Because when you change window sizes they reappear on the screen correct?

[2016-03-04 00:34] nickcolley commented on #20
I'm not sure that we need aria-hidden for the hidden links, `display: none` will hide it from both our screenreader users and regular users.

I've started a branch with some tweaks from my testing in a screenreader (I'm using Chrome Vox for this): https://github.com/hoodiehq/hoodie-app-tracker/pull/27

My main concern is that when navigating to some of the sub-views (for example 'Change Username')

[2016-03-04 00:41] nickcolley commented on #19
I'll try to check this out.
@jsimplicio I run Linux but what I do is run IE in a VM. You can get IE VMs for mac here: https://dev.windows.com/en-us/microsoft-edge/tools/vms/mac/

Hope that helps.

[2016-03-04 02:41] jsimplicio commented on #19
thanks @nickcolley try to replicate this and let me know.

[2016-03-04 02:45] jsimplicio commented on #20
Then I'm not sure what @Charlotteis is talking about. If we need or not `aria-hidden`. I just don't quite understand how to use it.

[2016-03-04 09:34] nickcolley commented on #8
@gr2m looks like there's been good progress in this respect, do you think we could close this in favour of smaller more specific issues so it's more actionable?

[2016-03-04 18:31] gr2m commented on #8
yessir, good call. And thanks for the great work :+1:

[2016-03-04 18:31] #8 closed

[2016-03-04 23:20] jsimplicio opened #28 "Color change?"
I know the orange wasn't very good for visual reasons but this purple shows very very dark on my macbook pro (from 2010 so not retina). I'm sure the purple will show this dark for other users too. For example under account settings I can barely tell I'm hovering an item because the purple active on hover color is so dark. How about we decide on another hoodie color that is 'more visible' but yet n

[2016-03-04 23:24] jsimplicio opened #29 "About page"
Perhaps we should start thinking of a solid about page? I'm not quite the writer, can explain the app and the motives behind it but need help crafting words.

help? @gr2m @nickcolley @Charlotteis @renrutnnej

[2016-03-05 10:12] Charlotteis commented on #20
Hey @jsimplicio, you can ignore my request for "aria-hidden". 'display: none' in the CSS will mean that the elements are hidden off page and wont be accessible via a screen reader, @nickcolley is right.

That was what I expected to happen, yeah :)

Middle aligning the header also looks good to me!

[2016-03-05 10:21] Charlotteis commented on #28
My first thought was "green", lets try it! :)

[2016-03-05 13:29] nickcolley commented on #28
Could also use blue, people are used to seeing links in blue.

[2016-03-05 18:38] gr2m commented on #29
I’m looking into this now

[2016-03-05 19:34] gr2m opened #30 "add favicon.ico"
At least chrome currently logs errors in the console like this:

<img width="814" alt="screen shot 2016-03-05 at 14 31 40" src="https://cloud.githubusercontent.com/assets/39992/13549916/04937d3c-e2df-11e5-855d-b295e8b7c4f7.png">

Simplest would be to use a [transparent favicon.ico](http://transparent-favicon.info/favicon.ico) until someone wants to make a custom one :)

[2016-03-05 19:52] Charlotteis commented on #28
a great point, as always

[2016-03-05 21:20] gr2m commented on #29
there you go #31

[2016-03-05 22:26] gr2m opened #32 "CI Tests failing"
Our tests currently tend to fail on travis with something like this:

<img width="521" alt="screen shot 2016-03-05 at 17 20 02" src="https://cloud.githubusercontent.com/assets/39992/13550909/93ad3a28-e2f6-11e5-93d9-b0111c24dbae.png">

The test that caused this error is [.check() when request errors](https://github.com/hoodiehq/hoodie-app-tracker/blob/76d55a10881106bd45ad7e92fb0de552dcd6c5bf/test/c

[2016-03-05 22:32] gr2m commented on #19
thanks @nickcolley for looking into this :+1: ping me if I can assist in any way

[2016-03-06 02:52] jsimplicio commented on #28
Is this the hoodie blue? http://hood.ie/get-help if so it feels a bit dark to me like the purple too.

[2016-03-06 11:52] nickcolley commented on #28
The main website has no hover state changes so I guess we could take some liberty on that part and choose a lighter starting colour?

[2016-03-06 12:02] nickcolley commented on #20
Did some digging and came across https://vimeo.com/117614181.

The way they describe solving the problem is as follows:
- Create a container in the page that is never added/removed with aria-live on it, this is our announcement container.
- Create an 'announce' script that can update that announcement container with content that the screenreader will automatically read without altering focus.
- To

[2016-03-06 23:16] jsimplicio commented on #28
Were you thinking a shade of blue? :)

[2016-03-06 23:27] nickcolley commented on #28
I'm with you on any colour changes as long as it's got good contrast, green or not :)

[2016-03-07 01:04] gr2m commented on #28
don’t worry about the Hoodie Colors too much, I’ve heard from other designers they are a pain in the butt because they are so hard to combine :) You can alter them, especially if it’s good for accessibility. You can put in some of your own preference, you’ve put in the most work after all :)

[2016-03-11 16:58] jsimplicio commented on #30
Should we just use the one we got at http://hood.ie?

[2016-03-11 17:02] nickcolley commented on #30
Could be confusing since this app isn't really hoodie related.

https://github.com/hoodiehq/hoodie-app-tracker/pull/33

[2016-03-12 11:57] #29 closed

[2016-03-14 17:20] finnp commented on #32
On my computer it also failed the first time. Most of the time it works though. But sometimes I get:

[code]

[2016-03-14 17:35] finnp commented on #30
Closed, because Favicon was added in #33 :balloon:

[2016-03-14 17:35] #30 closed

[2016-03-14 18:25] jsimplicio commented on #28
Okay now we use `blue` which is high contrast at all sizes AAA. This should be :+1:

[2016-03-14 18:28] gr2m commented on #32
if can find out why that happens sometimes, or how to reliably reproduce the issue, that’d be amazing :)

[2016-03-14 18:31] jsimplicio commented on #19
Is this fixed now?

[2016-03-14 18:42] gr2m commented on #28
yes, well done :) We can make follow up issues if there is room for farther improvements

[2016-03-14 18:42] #28 closed

[2016-03-14 19:31] nickcolley commented on #19
@jsimplicio I did try this out and it's very mysterious, I was going to try rendering the table without table markup but ran out of time.

[2016-03-15 16:42] jsimplicio commented on #19
@nickcolley I don't know what is going on and if it's the table itself but this completely breaks the app for me. It's not saving the items I'm adding to the table once I logged off and log back in they are no longer on the table.

[2016-03-15 18:58] #32 closed

[2016-03-15 18:59] gr2m commented on #32
most likely resolved by #44, but let’s leave it open for a few weeks to see if the failed tests happen again. Close this issue if it’s April ’16 or later :)

[2016-03-15 19:02] gr2m commented on #19
can someone of you describe the exact steps to reproduce the problem?

[2016-03-15 22:41] jsimplicio commented on #19
I believe my issue is different from @stehuebn's.

Make a new account, login with that account, add some items to the table and log out. Upon logging back in the items should disappear. I tried and added items again but every time I log off and back in they disappear.

[2016-03-15 22:47] jsimplicio opened #45 "bug: Hitting save closes all open edit inputs"
If you hit edit on many items and then save on only one, the save will close out of the edit view for all items not just the one you clicked.

[2016-03-15 23:52] gr2m commented on #19
Okay I will look into this more closely as soon as possible, but probably won’t have time before Thursday

[2016-03-17 17:39] jsimplicio commented on #19
update: This is only happening in my local environment. The app works for me at http://tracker.hood.ie

[2016-03-17 17:43] gr2m commented on #19
@jsimplicio can you do `rm -rf node_modules && npm install` locally, and try again? Maybe the issue is resolved with one of the updates to the internal Hoodie modules

[2016-03-18 17:43] gr2m opened #48 "Add requirements to README / setup instructions"
- link to git
- mention that node v4 (or hiqher)

just run into this in a user test that randomly happen :)

[2016-03-18 20:43] jywarren opened #49 "type error with 'url' parameter on initial install"
I'm just trying to install this at SpinachCon, and once I got node 4.4.0 installed, i ran `npm start`, but I got this error:

https://gist.github.com/jywarren/d04d10a83c2e4bec2470

Key excerpt:

[code]

I'm on ARM7 (a chromebook) so this may not be relevant to your typical contributor, but I thought I'd share in case it's helpful. Thanks!

[2016-03-18 21:08] gr2m commented on #49
I’ll look into it

[2016-03-19 21:29] gr2m commented on #49
this should be resolved now. Could you please try to setup from scratch?
https://github.com/hoodiehq/hoodie-app-tracker#setup

[2016-03-21 16:08] nickcolley commented on #20
I think we've addressed everything here, going to close out, if there's any more let's keep them in small actionable issues.

thanks @Charlotteis @jsimplicio :love_letter:  :+1:

[2016-03-21 16:08] #20 closed

[2016-03-24 03:17] gr2m commented on #49
please reopen if the issue persists

[2016-03-24 03:17] #49 closed

[2016-03-24 04:02] jywarren commented on #49
Thanks, had a very busy few days and will circle back and confirm soon,
reopening if I have trouble.
On Mar 23, 2016 11:17 PM, "Gregor Martynus" <notifications@github.com>
wrote:

[2016-03-25 15:48] jywarren commented on #49
Great, it installed and `npm start` worked, i was able to sign up and create issues.

However, the output was a bit verbose: https://gist.github.com/jywarren/7bfee91adacb47cce365

Thanks!

[2016-03-25 20:37] gr2m commented on #49
thanks! I’ve seen the output before, should be fine :tm:

Might be related that you use `npm@2`, we recommend `npm@3`. You can update npm with `npm install --global npm`

[2016-03-28 17:06] sebbel opened #51 "401 not Authorized Bug upon starting the app."
I have cloned the repository and ran the couchdb docker container, but added a -p 5984:5984 so I could access Futon on localhost:5984.
I also added a .hoodierc containing the dbUrl: "http://admin:secret@localhost:5894" and logged into Futon and created the admin account admin:secret.

After npm start, when I load the page, I am getting a 401 not authorized error:
"Unauthorized", message: "Name or

[2016-03-28 22:38] gr2m commented on #51
That sounds like you were logged in to an account before in your browser, otherwise Hoodie wouldn’t try to send any requests. Check if `hoodie.account.id` returns a string. If it does, do `localStorage.clear()` and reload the page, that should help

[2016-03-29 14:28] sebbel commented on #51
Managed to get it working. A full reset of browser AND couchdb helped.

[2016-03-29 14:35] gr2m commented on #51
glad to hear :)

[2016-03-29 14:35] #51 closed

[2016-04-21 10:34] #48 closed

[2016-04-25 01:20] gr2m commented on #19
I’m pretty sure that this is resolved now

[2016-04-25 08:28] nickcolley commented on #19
@gr2m have you tested the IE issue?

[2016-04-25 10:33] gr2m commented on #19
@nickcolley sorry I can’t recall an IE issue? If there is one, can you make a follow up issue? Please make sure you have the latest version of everything

[2016-05-02 16:37] stehuebn commented on #19
@gr2m @nickcolley Hello, I just updated the Tracker via `rm -rf node_modules && npm install` and tested the problem described in the second post. The IE issue still exists (Win7/IE11), I think...

[2016-05-02 16:39] gr2m commented on #19
okay thanks for checking @stehuebn! I’ll reopen the issue, something is still wrong here

[2016-05-28 11:17] vickenliu opened #70 "session error"
Hi, i was trying to see anything i can contribute, I met some troubles:

1, i can successfully create new account

2,but when i try to change email / delete account / change password it alerts 'session invalid'

3, also i can not sign out.

I have checked the files, couldnt find out what s wrong, maybe the hoodi 's problem ?

thanks

[2016-05-28 16:57] gr2m commented on #70
Thanks @vickenliu I will look into it!

[2016-06-01 03:39] vickenliu commented on #45
@jsimplicio  i think this is not a bug,or maybe we need to redesign the UX, at the moment, the list view is re-render after any item has been changed,  (if use React, this will be very easy to solve)
it means, after ONE item data change event fired, the previous view (that you clicked many edit of the items) is replaced by the new view of new set of data rendered to the DOM.

[2016-06-02 07:44] #70 closed

[2016-06-13 13:32] oliverklee opened #73 "XSS: Data is not encoded on displaying"
The data needs to be HTML-encoded upon displaying.

Steps to reproduce:
1. enter any item
2. enter the Item

[code]
1. watch the HTML break

[2016-06-13 14:45] gr2m commented on #73
Great, thanks so much Oliver! Can you send a PR to fix it? Happy to assist if you have any questions :)

[2016-07-12 20:35] sdvg commented on #19
I can reproduce the IE11 issues. The elements appear one by one when i inspect them in F12 tools.

[2016-07-12 20:45] gr2m commented on #19
I’ve just recently fixed an issue but it has not yet been deployed to https://tracker.hood.ie/. Can you reproduce the problem locally? Did you try a fresh install of the app (`rm -rf node_modules && npm install`)?

[2016-07-12 20:59] sdvg commented on #19
Yes, I can reproduce the issue locally with fresh installed packages on a Windows 10 virtual machine.

[2016-07-12 21:12] sdvg commented on #19
When I remove the following lines of CSS for test purposes the issue is gone:

[code]

[2016-07-12 21:32] gr2m commented on #19
can you tell the exact steps you take? Do you see any error in the console?

[2016-07-12 21:41] sdvg commented on #19
I load the tracker page. Table and "Clear tracked items" button are both not visible.
There are no errors in the console.

[2016-07-12 21:48] sdvg opened #78 "IE11: Sign out doesn't work"
When you try to sign out in Internet Explorer 11 nothing happens and the following error shows up in the console:

[2016-07-12 22:00] gr2m commented on #19
ah gotcha so it might be a CSS issue with the `[data-store-state='empty'] .items` selector? But IE 11 should have full support for that: http://caniuse.com/#feat=css-sel3

Can you check if the `data-store-state` attribute is set? It’s happening in these lines: https://github.com/hoodiehq/hoodie-app-tracker/blob/master/public/assets/js/index.js#L100-L104

[2016-07-13 15:53] #19 closed

[2016-07-15 19:39] #78 closed

[2016-10-06 18:48] Janatbek opened #91 "Cannot open URL shown in terminal after npm start"
After cloning the project, installing --production, I run npm start and I see
[code]
<img width="804" alt="Terminal" src="https://cloud.githubusercontent.com/assets/16279325/19165434/9e7cec58-8bb8-11e6-85e9-a239458e39f3.png">

I open my Browser and navigate to
[code]
And I see this
<img width="759" alt="http://Janatbek.local:8080" src="https://cloud.githubusercontent.com/assets/16279325/19165534/0

[2016-10-06 19:10] gr2m commented on #91
This is an Open Source Maintainer’s dream of a bug report, thanks a lot @Janatbek!
We have an open issue for that problem over at https://github.com/hoodiehq/hoodie/issues/541. Once it’s resolved it should show localhost:8080 right away in your terminal

[2016-10-06 19:12] Janatbek commented on #91
how to shut off previous started project? I did control + c but still my
browser is opening yesterdays project.

On Thu, Oct 6, 2016 at 12:10 PM, Gregor Martynus <notifications@github.com>
wrote:

--

[image: Bravo Web] <http://www.kyrgyzclub.org/>

Janatbek Sharsheyev / Front End Web Developer
janatbek@gmail.com / (929) 245 - 0708

http://www.bravopack.com <http://bravopack.com>

[image: Twitter]

[2016-10-07 15:22] gr2m commented on #91
That is because of the Offline Support trough Service Worker. You must clear your browser’s cache. In Chrome you can do that in Developer tools in Application -> Clear storage -> Clear site data

<img width="515" alt="screen shot 2016-10-07 at 08 22 40" src="https://cloud.githubusercontent.com/assets/39992/19195627/3c38a514-8c67-11e6-8f76-de84bb1fa69c.png">

[2016-10-07 15:23] Janatbek commented on #91
Oh I see. Thanks

On Friday, October 7, 2016, Gregor Martynus <notifications@github.com>
wrote:

--

[image: Bravo Web] <http://www.kyrgyzclub.org/>

Janatbek Sharsheyev / Front End Web Developer
janatbek@gmail.com / (929) 245 - 0708

http://www.bravopack.com <http://bravopack.com>

[image: Twitter]  <https://twitter.com/Janatbek> [image: Facebook]
<https://www.facebook.com/janatbek> [image: Linke

[2016-10-08 04:21] Janatbek opened #93 "Sign out button should be on tracker page, not only on profile view"
There is no log out button on add tracking page, I have to go to profile and log out.
<img width="748" alt="screen shot 2016-10-07 at 9 19 14 pm" src="https://cloud.githubusercontent.com/assets/16279325/19210295/0199713c-8cd4-11e6-938f-d5778c741f82.png">

[2016-10-08 04:29] Janatbek opened #94 "Session is not destroyed after signing out"
I sign out and added item to track on main page, then I logged in and I am able to see the item I added.

[2016-10-08 16:30] gr2m commented on #94
That is by design, to avoid that people loose data. When you sign in, all data you created anonymously will be migrated to your account.

[2016-10-08 16:30] gr2m commented on #93
I really appreciate you put all the effort into the pull requests to improve the hoodie app, but it’s better to create issues to make suggestions first and wait for feedback

[2016-10-12 05:25] Janatbek commented on #91
I found where to modify this. but don't have access to it.
The path is :

<img width="1174" alt="screen shot 2016-10-11 at 10 22 29 pm" src="https://cloud.githubusercontent.com/assets/16279325/19298309/52797392-9001-11e6-8692-6a0978774cbf.png">

[code]

[2016-10-12 05:25] #91 closed

[2016-10-12 05:32] Janatbek commented on #94
Yep.

[2016-10-12 05:32] #94 closed

[2016-10-12 05:48] Janatbek commented on #93
I got it

[2016-10-20 01:20] capellini opened #106 "'Error: unknown error: hoodie is not defined' during Travis build"
Due to a Chrome bug, during the initial load of `hoodie`, the `hoodie` global is not defined.  This results in the Travis CI build failing, with the error `Error: unknown error: hoodie is not defined`:

![screenshot from 2016-10-19 21-17-43](https://cloud.githubusercontent.com/assets/75311/19542988/87266f5a-9641-11e6-8a6a-61ca545cafa3.png)

Proposed solution is to just request `GET /` twice in the

[2016-10-26 03:12] gr2m commented on #93
lol @greenkeeper[bot] go you home you drunk 🍻

[2016-10-26 03:14] Janatbek commented on #93
I got a hacktoberfest t-shirt.

[2016-10-28 16:10] greenkeeper[bot] opened #110 "An in-range update of mocha is breaking the build 🚨"
## Version **3.1.2** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Fmocha-3.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2016-10-28 16:55] benwhite-deltas commented on #110
Should greenkeeper attempt to perform maintenance tasks on a repo with a currently failing build?

[2016-10-28 18:24] gr2m commented on #110
@benwhite-deltas now but we can’t disable it yet, the GK team is working on it :)

[2016-10-28 18:30] gr2m commented on #110
closing this as @capellini is working on the failing tests right now

[2016-10-28 18:30] #110 closed

[2016-10-30 03:18] greenkeeper[bot] opened #111 "An in-range update of hoodie is breaking the build 🚨"
## Version **24.3.1** of [hoodie](https://github.com/hoodiehq/hoodie) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Fhoodie-24.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      hoodie
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-10-30 21:40] gr2m opened #112 "changing username / password does not close the form"
![new-password-bug](https://cloud.githubusercontent.com/assets/39992/19840231/c06e6aea-9eae-11e6-898d-4e7e5e8184bb.gif)

[2016-11-17 20:47] greenkeeper[bot] opened #114 "An in-range update of semantic-release is breaking the build 🚨"
## Version **6.3.2** of [semantic-release](https://github.com/semantic-release/semantic-release) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Fsemantic-release-6.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      semantic-release

[2016-11-19 11:23] #112 closed

[2016-11-23 20:37] greenkeeper[bot] opened #115 "An in-range update of standard is breaking the build 🚨"
## Version **8.6.0** of [standard](https://github.com/feross/standard) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Fstandard-8.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      standard
    </td>
  </tr>
  <tr>
    <th align=left

[2016-11-23 22:47] gr2m commented on #115
false positive

[2016-11-23 22:47] #115 closed

[2016-11-25 00:13] greenkeeper[bot] opened #116 "An in-range update of mocha is breaking the build 🚨"
## Version **3.2.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Fmocha-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2016-12-04 18:39] #106 closed

[2016-12-04 18:39] #111 closed

[2016-12-04 18:39] #114 closed

[2016-12-04 18:39] #116 closed

[2016-12-24 12:53] sdvg commented on #17
Closed in #83

[2016-12-24 12:53] #17 closed

[2016-12-24 12:54] sdvg commented on #73
Fixed in #80

[2016-12-24 12:54] #73 closed

[2016-12-24 13:00] sdvg commented on #15
@gr2m The linked issues are all resolved, changing username (email) and password works. Can we close this issue?

[2016-12-24 18:45] gr2m commented on #15
Yes, thanks for looking into it Stefan!

[2016-12-24 18:45] #15 closed

[2017-03-02 03:55] greenkeeper[bot] opened #135 "An in-range update of tap is breaking the build 🚨"
## Version **10.3.0** of [tap](https://github.com/tapjs/node-tap) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Ftap-10.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-03-02 18:03] gr2m commented on #135
fixed via f6800c7

[2017-03-02 18:03] #135 closed

[2017-03-18 22:24] Litarhis opened #138 "Bug: Cannot delete tracked item"
I track 2 items and when I try to delete one of those (no matter which) console throws back the following error:
<img width="960" alt="deletionerror" src="https://cloud.githubusercontent.com/assets/15073846/24076473/5606fc36-0c3a-11e7-89a1-7bb48fb95f9a.PNG">

I followed this commands:
"`cloned repo`"
npm install
npm start

[2017-03-18 22:42] gr2m commented on #138
We recently had pretty big update: https://github.com/hoodiehq/hoodie/releases/tag/v28.0.0

Among other things, `doc.id` is now `doc._id` (same as it is in PouchDB and CouchDB). My guess is that we pass in an `id` property where we should pass in `_id` instead.

Can you have a look if you find something out?

[2017-03-18 22:47] Litarhis commented on #138
@gr2m, I am afraid I am a bit busy these days in order to resolve that issue 🙁 . I just came up to this while playing with the app and found it useful to report it. So, to make it clear to the assignee, hoodie tracker needs some updates in order to follow the new hoodie breaking version? Shouldn't those errors had to be prevented in #136 ?

[2017-04-02 17:17] sdvg commented on #138
Looks like @gr2m fixed this in https://github.com/hoodiehq/hoodie-app-tracker/commit/6b9fe7a06bd62c58627062e5eb7cdbc1f44df3e2 :)

I couldn't reproduce the issue the latest version.

[2017-04-02 17:17] #138 closed

[2017-06-25 07:07] greenkeeper[bot] opened #147 "An in-range update of tap is breaking the build 🚨"
## Version **10.7.0** of [tap](https://github.com/tapjs/node-tap) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Ftap-10.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-06-25 16:41] gr2m commented on #147
false positive

[2017-06-25 16:41] #147 closed

[2017-10-19 23:17] fozy81 opened #157 "Service worker"
Would adding a service worker js be useful to make the app offline capable? :thinking:

Pros :+1:
- Makes app work offline :sunglasses:

Cons :-1:
- Adds little more complexity to code :hammer_and_wrench:  :computer:
- Not supported by all browsers :frowning_face:
- May not notice much difference if developing on local host

If you think it's worth adding, happy to make PR :smile:

[2017-10-20 20:01] gr2m commented on #157
Hey @fozy81 :) in general, heck yeah, absolutely!

Making Hoodie Client Service Worker compatible is a bit of a challenge, something I want to tackle for the next big milestone.

I’d say maybe to not add it to this repository directly, but if you want to create a fork and we can link to that fork, that would work? That way we can keep this very simple but at the same time show people how to make t

[2017-10-21 12:35] fozy81 commented on #157
@gr2m I've add the basic service worker here: https://github.com/fozy81/hoodie-app-tracker
with some of your code copied from hoodie-camp-tutorial :+1: .

So should give people a favour of offline web app.

Couple issues:
- Some console log errors: No response when fetching `hoodie/store/api/user` files
- I've not written any tests for this
- One existing test is failing...`Subtest: App Tracker`..

[2017-10-21 18:24] gr2m commented on #157
Testing web apps is very hard, I created the [selsa](https://github.com/gr2m/selsa) package to implement some best practises, but at the end of the day, it’s using Selenium and Selenium tends to break regularly, unfortunately. I don’t blame them, they are taking on an incredible hard task :)

But maybe for our case, we should drop it and use something like https://github.com/GoogleChrome/puppeteer

[2017-10-21 19:14] fozy81 commented on #157
I'll take a look...may take a little while to dive into the details.

[2017-10-25 20:55] fozy81 commented on #157
Update: I've tried out cypress - mainly because it has brilliant [docs](https://docs.cypress.io/guides/overview/why-cypress.html). I've added a couple of tests, mainly copied from an example [test file for todoMVC](https://github.com/cypress-io/cypress-example-todomvc/blob/master/cypress/integration/app_spec.js) and from the existing tests. Should be straightforward to convert the existing tests t

[2017-10-25 22:58] gr2m commented on #157
awesome :) I'm open to migrate to Cypress

[2017-11-01 08:49] fozy81 commented on #157
Hi, I've written some tests using Cypress (see summary below), added a manifest.json and got service worker running. In general works offline okay. Could add on/offline indicator. Also trims white space from input items, and converts createdAt date/time to Date object before sorting, allowing sorting to be consistent for testing.

One test failing - can't sign-out(?). Anything other tests needed?

[2017-11-01 17:34] gr2m commented on #157
happy to help look into the sign out error. I’ll have some time on Friday for Open Source work, looking forward to see how the Cypress setup works :)

[2017-11-01 20:40] fozy81 commented on #157
Thanks, that's great. No pressure - whenever you find time. Cypress seems very nice.

[2017-11-07 21:16] greenkeeper[bot] opened #159 "An in-range update of tap is breaking the build 🚨"
## Version **10.7.3** of [tap](https://github.com/tapjs/node-tap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Ftap-10.7.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-11-08 03:52] gr2m commented on #159
false positive

[2017-11-08 03:52] #159 closed

[2017-11-12 11:22] dwayneroberts opened #160 "502 Bad Gateway"
https://tracker.hood.ie/ is currently down:

502 Bad Gateway
nginx/1.9.9

[2017-11-12 13:01] fozy81 commented on #157
Hi @gr2m
Here's the forked tracker app with service worker hosted on now/zeit:
https://hoodie-app-tracker.now.sh/

Also passing Chrome PWA tests :fireworks: :+1:
![screenshot from 2017-11-12 12 35 44](https://user-images.githubusercontent.com/2878163/32699147-b3957f6a-c7a8-11e7-8270-bf0335666ba1.png)

forked code is here:
https://github.com/fozy81/hoodie-app-tracker

[2017-11-14 18:32] gr2m commented on #160
@christophwitzko can you please have a look?

[2017-11-14 19:02] christophwitzko commented on #160
@gr2m This is the error on the server:
[code]

[2017-11-15 00:44] gr2m commented on #160
okay I know what happened, `@gar/hapi-json-api` dropped support for Node < 8 in a fix version, I asked the new maintainer to release a fix version reverting the change and a new breaking version that drops the node version ... https://github.com/kjellmorten/hapi-json-api/commit/bbd135dbe80d818304a86354feaf24196f6d5aa6#comments

Can you set the server to be run with latest Node 8.9 LTS version?

[2017-11-15 08:15] christophwitzko commented on #160
Fixed in https://github.com/hoodiehq/hoodie-app-tracker/commit/de54ae68f5f3e73172dbf73d93971eeba7e81292 ☺️
https://tracker.hood.ie/ is up again 🎉

[2017-11-15 18:16] gr2m commented on #160
thanks a ton! Meanwhile a fix to hapi-json-api was shipped as well: https://github.com/kjellmorten/hapi-json-api/releases/tag/v2.0.5

[2017-11-15 18:16] #160 closed

[2017-11-19 21:41] gr2m commented on #157
I’m so sorry I didn’t get back to you earlier, I’m a bit overwhelmed with my inboxes :( This looks great though! Some people were asking about Hoodie + ServiceWorker at Offline Camp, too, I’ll point them to your fork!

I’m checking out your fork now, we should definitely mention it in the hoodie-app-tracker README – or even make it the default app altogether 😁

[2017-11-19 22:11] gr2m commented on #157
wow, this is really great work Tim! Also great work on adding Cypress! I wonder if we can run the tests somehow automatically in `npm test`? Do you know if they can be run headless so we can run the tests on Travis CI?

If you like, we can start a pull request from you fork :) I would suggest we document the addition of Service Worker in the README and also the about page. (The about page in the a

[2017-11-19 23:19] fozy81 commented on #157
No problem, thanks for getting back. I appreciate maintaining open source projects takes a lot of time. And you got to fit it around everything else.

I removed the package.json script to run 'npm test' but can put that back in to run cypress headlessly. Shouldn't be a problem for Travis CI. Just got one failing test currently. I think it is to do with running locally (can't sign-out).

Should the

[2017-11-20 03:25] gr2m commented on #157
Yes, please. I’m so excited and hopeful for a future without Selenium :)

For end-user applications I don’t see much point in unit tests or code coverage, doing the end-to-end tests is perfect. We just want to check if all user-facing features work.

When I have the feeling that I need unit tests in an app, it’s usually a sign that there is something worth extracting into its own library, which th

[2017-11-20 12:07] fozy81 commented on #157
Great, thanks for the feedback. I'll remove the old tests. Your thoughts on unit testing mirrored what i was thinking but just wanted to check.

Service worker - yep, if service worker not supported then will work as before.

The extra features provided by the manifest.json i.e. adding an icon to android home screen/apps and having a splash page when app is loading. But some manifest features do w

[2017-11-22 10:34] elvinaliyev87 opened #162 "the value of Input change Email is "undefined""
When user have clicked change email, he didn't see current email in the input.

![changeemail](https://user-images.githubusercontent.com/32110355/33122961-3467ffe6-cf92-11e7-9436-3c88b41331f3.PNG)

[2017-11-24 22:29] gr2m commented on #162
thank you @elvinaliyev87 I was able to reproduce the bug :)

I think the problem is this line:

[2018-02-20 00:31] greenkeeper[bot] opened #171 "An in-range update of tap is breaking the build 🚨"
## Version **11.1.1** of [tap](https://github.com/tapjs/node-tap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/hoodiehq/hoodie-app-tracker/compare/greenkeeper%2Ftap-11.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tap
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2018-04-27 12:08] greenkeeper[bot] opened #173 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-04-28 23:48] kylebakerio opened #174 "not working"
https://tracker.hood.ie/ just fails. `Err: connection refused` in chrome

[2018-05-09 01:10] greenkeeper[bot] opened #175 "An in-range update of tap is breaking the build 🚨"
## Version **11.1.5** of [tap](https://github.com/tapjs/node-tap) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/hoodiehq/hoodie-app-tracker/compare/master...hoodiehq:greenkeeper%2Ftap-11.1.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>tap</code>
    </td

[2018-05-09 06:44] fozy81 commented on #157
Features added in pull request https://github.com/hoodiehq/hoodie-app-tracker/pull/161

[2018-05-09 06:44] #157 closed

[2018-05-09 17:59] fozy81 commented on #175
No longer a devDependency in package.json - the tap package was replaced by Cypress

[2018-05-09 17:59] #175 closed

[2018-05-09 18:11] fozy81 commented on #174
Same here, looks like it needs a refresh @gr2m

[2018-05-09 18:14] fozy81 commented on #162
Looks like this is fixed now :+1: - will close issue

[2018-05-09 18:14] #162 closed

[2018-05-09 20:32] gr2m commented on #174
yeah, it's a setup with Docker and Digital Ocean that I don’t know how it works.

What I would suggest to do instead is to deploy to glitch instead. It supports file system writes so we can use it with the fs adapter, it'd be super easy and people could directly remix the app and play around with the code in their editor. We have an example deployed here: http://hoodie.glitch.me/

I have continous

[2018-05-10 06:27] fozy81 commented on #174
I wondered about the couchdb backend? The Docker deploy includes couchdb but not sure glitch can host that part - perhaps need host a couchdb separately? But even without couchdb the app will run as demo (just without permanent saving of data) so will take a look at deploying to glitch. Will assign myself to the task when got time if anyone else wants to try jump in :smiley:

[2018-05-10 19:58] gr2m commented on #174
I’m sorry I should have been more clear. When you install Hoodie locally on your machine it is using [`pouchdb-adapter-fs`](https://github.com/pouchdb-community/pouchdb-adapter-fs) as a drop-in replacement for CouchDB to make the install easier. We can use the very same adapter on Glitch because Glitch allows for write access to the file system. So we don’t need CouchDB but still have permanent sa

[2018-05-10 20:30] fozy81 commented on #174
Thanks, I understand now. That's a really neat feature.

[2018-05-11 20:10] fozy81 commented on #174
Hi @gr2m , I've tried using https://github.com/gr2m/glitch-github-app but getting a bug. Looks like the github repo has copied into glitch but getting an error message in logs:

`/etc/app-types/node/start.sh: line 43: hoodie: command not found`

I've imported hoodie-app-tracker repo direct from github and that's working okay - but obviously this isn't continuously integrating:

https://powerful-sa

[2018-05-14 17:01] gr2m commented on #174
@fozy81 Thanks for looking into it! I’d like to try something else but need a moment myself to have a look into it. I’ll be very busy until Thursday, I’ll get back to you then :)

[2018-05-21 21:44] fozy81 opened #179 "Enter Item before Amount"
After testing the app, I wondered if it's more user friendly to enter the item before the amount. I'll maybe put together a pull request to test this change out.

:smile:

[2018-05-22 17:09] gr2m commented on #179
Yeah why not :)

[2018-05-26 11:50] fozy81 commented on #179
see https://github.com/hoodiehq/hoodie-app-tracker/pull/181

[2018-05-26 17:29] gr2m commented on #179
done via #181 ✌️

[2018-05-26 17:29] #179 closed

[2018-05-27 09:41] fozy81 commented on #45
PR Allow only one item to be edited at a time https://github.com/hoodiehq/hoodie-app-tracker/pull/177 - This avoids the issue of editing multiple items and the edits not being saved

[2018-05-27 09:41] #45 closed

[2018-06-04 22:53] fozy81 opened #185 "Offline indicator"
Add offline indicator so users know items aren't being shared/uploaded currently. Greyed-out or warning symbol etc?

[2018-06-06 04:08] gr2m commented on #185
It might make the app overly complicated? But we could show a notification or show some visual clue that the data is not being synchronised

[2018-07-01 21:32] fozy81 commented on #174
@gr2m I saw that 'now' deployment can be linked to github for continuous integration. So could try to deploy there for short-term? (I think Glitch would be better longterm). I've got a free cloudant account so could add that for backend or just keep it with local storage only?

[2018-07-01 22:38] gr2m commented on #174
sure feel free to give that a try 👍 Let me know if I have to do something

[2018-07-25 08:32] gr2m commented on #174
I see it listed in the list of installed services, go ahead and add now.json if needed 👍

[2018-07-26 21:44] fozy81 commented on #174
see json.now PR https://github.com/hoodiehq/hoodie-app-tracker/pull/186  :smile:
and deployment shouold update here https://hoodie-app-tracker.now.sh/
This deployment won't allow user sign-out or store info in the cloud but it's a good demo and stores locally on device.

[2018-08-01 01:35] gr2m commented on #174
awesome :) I think we can close this issue now?

[2018-08-01 18:15] fozy81 commented on #174
@gr2m :hand: Can you update the website 'Default Hoodie App...' link on the hoodiehq/hoodie-app-tracker repo home page from https://tracker.hood.ie/ to https://hoodie-app-tracker.now.sh/  ? :+1:

[2018-08-03 02:41] gr2m commented on #174
Done 👍 Also invited you to the maintainers team! Sorry I thought you’d be a member already 🎉

[2018-08-03 02:41] #174 closed

[2018-08-03 16:30] fozy81 commented on #174
:fireworks: Woo, thanks for finding the time! And nice to hear your good news on twitter, all the best to you all. :+1:. So we've done it, offline first demo progressive web app with service worker and app manifest goodies!

[2018-11-25 11:23] laurensiusadi opened #187 "Request password reset error"
Environment:

- Windows 10 64bit
- Node v10.13.0

Steps to replicate

1. Clone repo
2. run `npm install --production`
3. `cp .hoodierc-example .hoodierc`
4. put correct username and password for gmail account in `.hoodierc`
5. `npm start`
6. open localhost:8080
7. sign up for an account
8. login then sign out
9. go to forgot password
10. type email and press send
11. Alert says `Internal Server Er

[2018-12-31 13:30] laurensiusadi commented on #187
I manage to get this works, but not quite a fix.
The cause is `.hoodierc` file is not used for the `options` here.
So I just put the config manually.

Inside `node_modules\@hoodie\account-server\routes\requests.js`
[code]

Now we need to use the `rc` package to read config from `.hoodierc` and put it inside `options` parameters.

[2019-01-16 14:32] David263 opened #188 "Documentation unclear on Hoodie environment"
README.md does not make it clear what environments Hoodie will run under. I use Windows. Will Hoodie work?

[2019-01-16 15:12] David263 opened #189 "Warnings when installing under Windows"
Here is what happened when I installed using the latest node.js on Windows 10:

C:\Web\git>npm install --production
npm WARN saveError ENOENT: no such file or directory, open 'C:\Web\git\package.json'
npm notice created a lockfile as package-lock.json. You should commit this file.
npm WARN enoent ENOENT: no such file or directory, open 'C:\Web\git\package.json'
npm WARN git No description
npm WARN

[2019-04-09 20:56] howellba1 commented on #187
I was able to implement the fix above to send through gmail - however gmail rejects the send.
I know gmail had a place to allow a location to send through but can't seem to find it?
How could I use a different email server or third party email service other than gmail?

[2019-09-14 04:08] #187 closed